:root {
    --lightModeHeader: #869d96;
    --darkModeHeader: rgb(72, 94, 114);
    --lightModeBackGround: #a2c3a4;
    --darkModeBackGround: rgb(28, 72, 105);
    --lightModePlayer: rgb(220, 237, 66);
    --darkModePlayer: rgb(59, 142, 42);
    --lightModeBot: rgb(237, 149, 66);
    --darkModeBot: rgb(237, 74, 66);
    --lightModeGrey: rgb(213, 207, 207);
    --darkModeGrey: rgb(173, 169, 169);
}

h3, input {
    margin-left: 15px;
}

input {
    border-radius: 5px;
    padding: 5px;
}

.modal.active {
    background-color: rgb(126, 169, 110);
    background-color: #9E788F;
    border-radius: 10px;
    color: #fefc92;
    width: 100%;
}

.modal.deactive {
    display: none;
}

.play.deactive {
    display: none ;
}

body {
    margin: 0px;
    background-color: var(--lightModeBackGround);
    box-sizing: border-box;
}
body.light {
    background-color: var(--lightModeBackGround);
}
body.dark {
    background-color: var(--darkModeBackGround);
}

.colorMode {
    margin: 5px;
    height: 50px;
    border-radius: 15px;
    margin-top: 15px;
}
.colorMode.light {
    background-color: var(--darkModeBackGround);
    color: white;
}
.colorMode.dark {
    background-color: var(--lightModeBackGround);
    color: black;
}

.game-boards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}
.game-boards.light {
    background-color: var(--lightModeBackGround);
}
.game-boards.dark {
    background-color: var(--darkModeBackGround);
}

.header {
    display: flex;
    justify-content: space-evenly;
    max-height: 80px;
}
.header.light {
    background-color: var(--lightModeHeader);
}
.header.dark {
    background-color: var(--darkModeHeader);
}

.card-one,
.card-two {
    display: flex;
    flex-wrap: wrap;
    background-blend-mode: screen;
    border-radius: 15px;
    margin-top: 10vh;
    margin-bottom: 10vh;
    min-height: 150px;
    height: 650px;
    max-height: 70vh;
    width: 700px;
    min-width: 200px;
    margin-right: 15px;
    margin-left: 15px;
}

.text.dark {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.text.light {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.player.active {
    color: yellow;
}
.player.deactive {
    color: black;
    opacity: 25%;
}

.card-one.light {
    background:
        linear-gradient(to right bottom, var(--lightModeGrey), transparent),
        linear-gradient(to left top, var(--lightModePlayer), transparent);
}
.card-one.dark {
    background:
        linear-gradient(to right bottom, var(--darkModeGrey), transparent),
        linear-gradient(to left top, var(--darkModePlayer), transparent);
}

.play {
    height: 50px;
    width: 150px;
    margin: auto;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card-two.light {
    background:
        linear-gradient(to right bottom, var(--lightModeGrey), transparent),
        linear-gradient(to left top, var(--lightModeBot), transparent);
}
.card-two.dark {
    background:
        linear-gradient(to right bottom, var(--darkModeGrey), transparent),
        linear-gradient(to left top, var(--darkModeBot), transparent);
}

.github-logo {
    height: 50px;
    margin-right: 15px;
}
.github-logo.light {
    background-color: rgb(134, 228, 131);
}
.github-logo.dark {
    background-color: rgb(163, 206, 212);
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.footer.light {
    background-color: rgb(200, 189, 189);
}
.footer.dark {
    background-color: black;
}

.footer-title.dark {
    color: white;
}
.foorter-title.light {
    color: black
}